#menunav {
	margin: 0;
	padding:0;
}
#menunav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-image:  url(img/debajo_btn.jpg);
	border-bottom: 1px solid #0074E3;
	background-color: #0074E3;
}
#menunav ul {
	border-top: 1px solid #eeeeee;
	margin: 0;
	padding: 0;
	z-index: 10000;
}
#menunav ul li {
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #333333;
}
#menunav a {
	display: block;
	text-decoration: none;
	background-color: transparent;
	padding: 4px 12px 4px 10px;
	color: #ffffff;
	border-top: 1px solid #0061BD;
	border-right: 1px solid #0061BD;
	border-bottom: 0;
	border-left: 4px solid #0061BD;
	line-height:1;
}
/*controla la botonera */
#menunav a:hover, #menunav a:active, #menunav a:focus,
#menunav .menuon, #menunav .menuon:hover, 
#menunav .menuon:active {
	color: #333333;
	background-color: #0061BD;
	letter-spacing: 0.01px;
	border-top: 1px solid #0061BD;
	border-right: 1px solid #0061BD;
	border-left: 4px solid #0061BD;
	background-image:  url(img/encima_btn.jpg);
	background-repeat: repeat-x;
}
#menunav .menumark, #menunav .menumark:hover {
	font-weight: bold;
}
/*Controlan los links y la imagen de flecha */
/*the normal trigger link */
#menunav .menutrg, #menunav .menutrg:hover, #menunav .menutrg:active {
	background-image:  url(img/flecha.gif);
	background-repeat:	no-repeat;
	background-position: right center;
}
#menunav .menutrg:hover {
	background-position: right center;
	background-image:  url(img/encima_btn.jpg);
	background-repeat: repeat-x;
}
/*controla el desplazamiento y alcance de los submenus */
#menunav .menuhide {
	left: -9000px;
	border: 0;
}
#menunav .menushow {
	left: auto;
	z-index: 20000;
}
/*modifica el menu madre */
#sidebar {
	position: static;
	top: 150px;
	left: 10px;
	width: 11em;
	font-size: 0.85em;	
}